/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/header.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* header start */
/* header end */

/* hero start */

/* .hero-background {
    background-color: var(--blue);
    background-image: url('../../img/background-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
} */

.hero-text-h1 {
    color: var(--white);
    font-size: 3em;
    font-weight: 600;
}
.hero-text-h2 {
    color: var(--white);
    font-size: 1.5em;
    font-weight: 500;
}
.hero-txt-box {
    margin-top: 21%;
}

.btn {
    width: 13vw;
    border-radius: 5vw;
    border: 2px solid white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    padding: 0.9em 1.2em;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    margin-right: 20px;
}
.button1 {
    background-color: var(--white);
    color: #01a0f9;
}
.button1:hover {
    background-color: transparent;
    color: var(--white);
}
.button2 {
    background-color: transparent;
    color: var(--white);
}

.button2:hover {
    background-color: var(--white);
    color: #01a0f9;
}

.zmogiukai {
    margin-top: 15%;
}
.robotukas {
    margin-top: 8%;
}
.plotis {
    width: 20vw;
}

@media (min-width: 300px) {
    .btn {
        width: 25%;
        font-size: 0.8em;
        padding: 0.4em;
        display: inline-block;
    }
    .hero-text-h1 {
        font-size: 1.8em;
    }
    .hero-text-h2 {
        font-size: 1.5em;
        font-weight: 400;
    }
}

/* hero end --> */

/* about block 1 start */

.container-about {
    font-size: 15px;
    color: var(--gray-dark);
    font-family: 'Poppins', sans-serif;
    vertical-align: baseline;
    font-weight: 400;
    overflow-x: hidden;
    line-height: 26px;
}

.short-about {
    padding: 40px 25px 25px;
    background: var(--light);
    border-radius: 10px;
    transition: all 0.7s ease 0s;
    position: relative;
    margin-bottom: 40px;
    text-align: center;
    box-shadow: 2px 10px 50px rgb(158 158 158 / 25%);
}

.short-about:hover {
    background: linear-gradient(-41deg, var(--teal), var(--blue));
    color: var(--light);
    opacity: 1;
    transition: 0.7s;
}
.img-about1 {
    width: 100px;
    padding: 1em;
}
.column > .column-right {
    margin-top: 100px;
}

.description {
    margin: 0 0 26px;
}

.text-about > .text-about-description {
    margin: 0 0 26px;
    line-height: 2em;
    margin-top: 100px;
}
.big-title {
    font-weight: 600;
    position: relative;
    font-size: 42px;
    margin: 0 0 26px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: capitalize;
}

.text-about-description > .big-title:before {
    content: '';
    position: absolute;
    width: 150px;
    height: 10px;
    background: linear-gradient(90deg, var(--blue) 45%, var(--teal) 60%);
    top: 35px;
    z-index: -1;
}
.text-about-description p:nth-of-type(2) {
    margin-top: 1.5em;
    margin-bottom: 3em;
}
.btn-about {
    padding: 1em 2em;
    font-size: 16px;
    line-height: 1em;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--light);
    background: linear-gradient(90deg, var(--blue) 30%, var(--teal) 60%);
    transition: all 0.7s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 50px;
}

.btn-about:hover {
    background: linear-gradient(41deg, var(--teal) 30%, var(--blue));
    z-index: 1;
    transition: all 0.7s ease 0s;
}

/* about block 1 end */

/* about block 2 start */
.about2-img {
    width: 90vw;
}
.about2-buttons {
    display: inline-flex;
    gap: 20px;
}
.about2_a_lm {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 50em;
    height: 40px;
    width: 140px;
    line-height: 40px;
    text-align: center;
}
.about2_video {
    text-decoration: none;
    text-align: center;
    border: 2px solid var(--blue);
    display: block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
}
.popup .popupvid {
    visibility: hidden;
}
.popup .show {
    visibility: visible;
}
.vid {
    position: fixed;
    top: 10vh;
    left: 10vw;
    height: 80vh;
    width: 80vw;
    z-index: 1;
}
.closeVid {
    position: fixed;
    right: 8vw;
    top: 8vh;
    z-index: 1;
}
/* about block 2 end */

/* counter block start */
.counter {
    background-image: url('../../img/counter\ bckgrnd.png');
    background-size: cover;
    height: 40%;
    width: 100%;
}
.counter-txt {
    color: var(--white);
}
.counter-father {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 2.5em;
}
.counter-text1 {
    margin-left: 10%;
}
.counter-text2 {
    margin-left: 10%;
}
.counter-h1 {
    font-size: 2em;
}
.counter-h2 {
    font-size: 1.3em;
    font-weight: 500;
}

/* counter block end */

/* services block start */
.services {
    display: grid;
    gap: 30px;
}
.column-service {
    text-align: center;
    margin-bottom: 0;
}
.column-service > .big-title:before {
    content: '';
    position: absolute;
    width: 150px;
    height: 10px;
    background: linear-gradient(90deg, var(--blue) 45%, var(--teal) 60%);
    top: 35px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

.icon-services {
    margin-bottom: 2em;
}

@media (min-width: 767px) {
    .services {
        grid-template-columns: 1fr 1fr;
    }
    .column > .column-right {
        margin-top: 0;
    }
}
@media (min-width: 991px) {
    .services {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .column > .column-right {
        margin-top: 0;
    }
}
@media (min-width: 575px) {
    .column > .column-right {
        margin-top: 0;
    }
}

.service-block-title {
    text-align: center;
}
/* services block end */

/* our latest proget start */

.projects > .big-title {
    text-align: center;
}

.projects > .big-title:before {
    content: '';
    position: absolute;
    width: 150px;
    height: 10px;
    background: linear-gradient(90deg, var(--blue) 45%, var(--teal) 60%);
    top: 35px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}
.row-projects .column-projects .single-robot {
    width: 100%;
    position: relative;
}
.container-projects .row-projects .column-projects {
    display: grid;
    grid-row: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'img1 img2 img3';
    gap: 30px;
}
.img1 {
    grid-area: img1;
}
.img2 {
    grid-area: img2;
}
.img3 {
    grid-area: img3;
}

.column-projects .single-project .title-single-project > a {
    text-decoration: none;
    position: absolute;
    z-index: 1;
    color: black;
    margin-left: 20px;
    color: #eef1f8;
}
@media (max-width: 767px) {
    .container-projects .row-projects .column-projects {
        grid-template-columns: 1fr;
        margin: 0;
        gap: 0;
    }
    .img1 {
        display: none;
    }
    .img2 {
        display: none;
    }
    .img3 {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 991px) {
    .container-projects .row-projects .column-projects {
        grid-template-columns: 1fr;
        margin: 0;
    }
    .img1 {
        display: none;
    }
    .img2 {
        grid-template-columns: 1fr 1fr;
    }
    .img3 {
        grid-template-columns: 1fr 1fr;
    }
}

.column-projects .single-project {
    border: 2px solid var(--light);
    border-radius: 10px;
    background-color: #eef1f8;
    padding: 60px 0px;
}

.column-projects .single-project:hover {
    background: linear-gradient(-41deg, var(--teal), var(--blue));
    color: transparent;
}

/* our latest proget end */

/* subscribe block start */

.subscribe-block {
    width: 75%;
    border: 2px solid black;
    height: 400px;
    border-radius: 1em;
}
.subscribe-h1 {
    width: 65%;
    margin-top: 10%;
    font-weight: 550;
}

::placeholder {
    font-size: 1.5em;
    color: grey;
}
.subscribe-text {
    position: relative;
}
.subscribe-btn {
    background: linear-gradient(41deg, #09c778, #01a0f9);
    border: none;
    border-radius: 50%;
    width: 6%;
    height: 9%;
    position: absolute;
    bottom: 163px;
    right: -10px;
}

*:focus {
    outline: none;
}

.fa-location-arrow {
    color: #fff;
    font-size: 2em;
}
.tevas {
    display: flex;
    justify-content: space-around;
}
.subscribe-forma {
    width: 98%;
    border: none;
    border-bottom: 0.5px solid grey;
    line-height: 3em;
}

.subscribe-img {
    width: 30%;
    height: 75%;
    margin-top: 5%;
}

.subscribe-text .big-title:before {
    content: '';
    position: absolute;
    width: 170px;
    height: 10px;
    background: linear-gradient(90deg, var(--blue) 45%, var(--teal) 60%);
    top: 35px;
    z-index: -1;
}

.subscribe-btn:hover {
    background: linear-gradient(41deg, #09c778, #01a0f9);
    opacity: 80%;
    transition: all 0.7s ease 0s;
}

/* subscribe block end */

/* logo block start */

.logo-container {
    background: url(../../img/logos/logo\ banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.eiliu-karaliene {
    display: grid;
    gap: 20px;
}
.eiliu-karaliene > .logo-row {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 30px;
}

/* logo block end */

/* how we work block start */
.big-title {
    text-align: center;
    margin-bottom: 0;
}
.single-work {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.works-title > .big-title:before {
    content: '';
    position: absolute;
    width: 150px;
    height: 10px;
    background: linear-gradient(90deg, var(--blue) 45%, var(--teal) 60%);
    top: 35px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

.works-icon {
    display: flex;
    padding: 60px;
    text-align: center;
    margin-top: 25px;
    border-radius: 50%;
    background: linear-gradient(-41deg, var(--teal), var(--blue));
}

.works-icon-circle {
    position: relative;
    text-align: center;
}
.circle-pulse {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
}
.circle-pulse:hover {
    position: relative;
    animation-name: pulse;
    border-radius: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes pulse {
    0% {
        background-color: var(--light);
    }
    25% {
        background-color: var(--teal);
    }
    50% {
        background-color: var(--light);
    }
    75% {
        background-color: var(--cyan);
    }
    100% {
        background-color: var(--light);
    }
}
.works-icon::after {
    content: '';
    background-color: var(--white);
    border: 1px dashed var(--primary);
    text-align: center;
    width: 230px;
    height: 230px;
    background: transparent;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.works-icon > img {
    width: 80px;
}
.work-title {
    font-size: 20px;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.little-round {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: relative;
    border: 1px dashed var(--primary);
    margin: 0 auto;
}

.little-round::after {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background: linear-gradient(-41deg, var(--teal), var(--blue));
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-arrow {
    width: 2em;
    color: var(--teal);
    margin-left: 40%;
    margin-top: -10%;
    transform: translate(50%, 50%);
    transform: rotate(45deg);
}

.icon-arrow::after {
    content: '';
    position: absolute;
    width: 300%;
    border: 1px dashed #01a0f9;
    margin-left: -20px;
    margin-top: -65px;
    transform: rotate(-45deg);
}

@media (min-width: 767px) {
    .single-work {
        padding-bottom: 40px;
    }
}
@media (min-width: 991px) {
    .single-work {
        padding-bottom: 40px;
    }
    .work-title {
        font-size: 15px;
    }
}
@media (min-width: 575px) {
    .single-work {
        padding-bottom: 40px;
    }
}
@media (max-width: 991px) {
    .little-round {
        display: none;
    }
    .icon-arrow {
        display: none;
    }
}

/* how we work block end */

/* recent block start */
/* recent block logos end */

/* contact block start */
/* contact block logos end */

/* footer start */
.container-footer {
    background-image: url(../../img/footer-block/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.5em;
}
.social-media > ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.f-icon {
    position: relative;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 100px;
    display: block;
    transition: all 0.7s ease 0s;
    z-index: 1;
    color: var(--white);
    background: linear-gradient(-41deg, var(--teal), var(--blue));
}
.f-icon:hover {
    background: linear-gradient(41deg, #09c778, #01a0f9);
}
.social-media ul > li > a {
    text-decoration: none;
}
.footer-logo {
    margin-bottom: 33px;
    margin-top: 5px;
}
.footer-about {
    margin-bottom: 10px;
    line-height: 1.5em;
    color: var(--gray-dark);
}
.little-title {
    margin-bottom: 33px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    z-index: 1;
}
.little-title:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    background: linear-gradient(90deg, var(--blue) 45%, var(--teal) 60%);
    bottom: 6px;
    left: 1px;
    z-index: -1;
}
.row-little {
    margin-left: -10px;
}
.two-columns {
    display: inline-block;
}

.footer-nav {
    display: inline-block;
}
.footer-nav ul {
    list-style: none;
}
.footer-nav > ul > li > a {
    text-decoration: none;
    color: var(--gray-dark);
}
@media (max-width: 575px) {
    .footer-column {
        padding-bottom: 33px;
    }
}
@media (max-width: 767px) {
    .footer-column {
        padding-bottom: 33px;
    }
}
@media (max-width: 991px) {
    .footer-column {
        padding-bottom: 33px;
    }
}
/* footer end */
