/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* header start */
/* header end */

/* hero start */
/* hero end --> */

/* about block 1 start */
/* about block 1 end */

/* about block 2 start */
.container {
    display: flex; /* or inline-flex */
}
.about2_a_lm{
    text-decoration: none;
    text-transform: uppercase;
    color:var(--white);
    background-color: var(--blue);
    border-radius: 50em;
    height: 40px;
    width: 140px;
    line-height: 40px;
    text-align: center;
    
}
.about2_video{
    text-decoration: none;
    text-align: center;
    border: 2px solid var(--blue);
    display: block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    /* padding: 20px 20px; */
}
.popup .popupvid {
    visibility: hidden;
  }
  .popup .show {
    visibility: visible;
  }
  
/* about block 2 end */

/* counter block start */
/* counter block end */

/* services block start */
/* services block end */

/* our latest proget start */
/* our latest proget end */

/* subscribe block start */
/* subscribe block end */

/* logo block start */
/* logo block end */

/* how we work block start */
/* how we work block end */

/* recent block start */
/* recent block logos end */

/* contact block start */
/* contact block logos end */

/* footer start */
/* footer end */