/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* header start */
/* header end */

/* hero start */

.hero-background {
    background-color: var(--blue);
    background-image: url("../../img/background-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text-h1 {
    color: var(--white);
    font-size: 3em;
    font-weight: 600;
}
.hero-text-h2 {
    color: var(--white);
    font-size: 1.5em;
    font-weight: 500;
}
.hero-txt-box {
    margin-top: 21%;
}

.button {
    width: 13vw;
    border-radius: 5vw;
    border: 2px solid white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    padding: 0.9em 1.2em;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    margin-right: 20px;
}
.button1 {
    background-color: var(--white);
    color: #01a0f9;
}
.button1:hover {
    background-color: transparent;
    color: var(--white);
}
.button2 {
    background-color: transparent;
    color: var(--white);
}

.button2:hover {
    background-color: var(--white);
    color: #01a0f9;
}

.zmogiukai {
    margin-top: 15%;
}
.robotukas {
    margin-top: 8%;
}
.plotis {
    width: 20vw;
}

@media (min-width: 300px) {
    .button {
        width: 25%;
        font-size: 0.8em;
        padding: 0;
        display: inline-block;
    }
    .hero-text-h1 {
        font-size: 2.2em;
    }
    .hero-text-h2 {
        font-size: 1.5em;
        font-weight: 400;
    }

}



/* hero end --> */

/* about block 1 start */
/* about block 1 end */

/* about block 2 start */
/* about block 2 end */

/* counter block start */
/* counter block end */

/* services block start */
/* services block end */

/* our latest proget start */
/* our latest proget end */

/* subscribe block start */
/* subscribe block end */

/* logo block start */
/* logo block end */

/* how we work block start */
/* how we work block end */

/* recent block start */
/* recent block logos end */

/* contact block start */
/* contact block logos end */

/* footer start */
/* footer end */